section.section
    form
        each category, entry in categories
            section.section.appSection
                label.label= entry
                ul.apps
                    each item in category
                        li
                            label.appLabel
                                input(type="checkbox" class="mr-2")
                                img(class="mr-1" width="20" src=`icons/${entry.toLowerCase().replace(/\s/g , "-")}/${item.toLowerCase().replace('.', '').replace(' ', '')}.svg`)
                                span.has-text-dark= item
