div.navbar.has-background-primary-dark
    div.navbar-brand
        a.navbar-item(href="/")
            img(class="image" width="120" src="favicon.svg")
            h1.has-text-light Linite
    div.navbar-burger.has-color-primary-dark
    div.navbar-menu
        div.navbar-start
        div.navbar-end.mr-6
            a.navbar-item.has-text-light.has-background-primary-dark Home
            a.navbar-item.has-text-light.has-background-primary-dark About
            a.navbar-item.has-text-light.has-background-primary-dark Suggestions
