html
  head
    style
        include ../node_modules/bulma/css/bulma.css
        include style.css
    script(src="main.js" defer)
    title="Linite"
  body
    include header.pug
    include hero.pug
    include apps.pug
