section.section form {
  display: flex;
  flex-direction: column;
  height: 60%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  width: 80%;
}

label.appLabel {
  display: flex;
  align-items: center;
}

section.appSection {
  padding: 25;
}
