style
    include terminal.css

section.hero
    div.hero-body.terminal.pb-0
        div#bar
            div#button-red
            div#button-yellow
            div#button-green
        div#screen
            p.command Select some apps!
            p.response enter this command into your terminal
            span.cursor
